<div class="container-fluid" onload="hideNavbar()">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- form start-->
            <div class="wrapper">
            <div class="form-container" >
                <div class="col-xs-8 col-xs-offset-4 center-block "> 

                    <center><button type="submit" class="btn btn-lg" style="color:white; align:center;" onclick="patientBtnClicked(event)">Patient Login</button></center> 
                    <br>
                    <center><button type="submit" class="btn btn-lg" style="color:white; align:center;" onclick="patientsignupBtnClicked(event)">Patient Sign-Up</button></center> 
                    <br>
                    <center><a href="/loginPractitioner"><button  class="btn btn-lg" style="color:white; align:center;">Practitioner Login</button></a></center>     
                                   <br>
                    <center><a href="/signupPractitioner"><button  class="btn btn-lg" style="color:white; align:center;">Practitioner Sign-Up</button></a></center>
                
                </div>
                </div>
            </div>
            <!-- form end-->
            <div class="wrapper">
            
            </div>
	     <br />
	     <br />
	     
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"> </div>
    </div>
</div>
    <script>
    $(window).on('load',function(){
      $("#headings").hide();
    });
</script>  
</script>
<script src="../js/main.js"></script>
