<div class="jumbotron3" onload="homePageLoaded()">
    <div class="col-xs-8 col-xs-offset-4 center-block "> 
        <center><a href="/patient/{{id}}/viewDetails"><button type="submit" class="btn btn-lg" style="color:white; align:center;">View Details</button></a></center> 
    </div>
    </div>
    <div class="jumbotron3" onload="homePageLoaded()">
    <div class="col-xs-8 col-xs-offset-4 center-block "> 
        <center><a href="/patient/{{id}}/viewPractitioner"><button type="submit" class="btn btn-lg" style="color:white; align:center;">View Practitioners</button></a></center> 
    </div>
    </div>
    
    
      <script src="../js/main.js"></script>
      <script type="text/javascript">
        homePageLoaded();
       
      </script>

{{!-- <script src="../js/loginPage.js"></script> --}}
