<div class="container-fluid" onload="hideNavbar()">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- form start-->
            <div class="wrapper">
            <form class="form-container" method="POST">
                <div class="form-group">
                    <div style="color: white;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 25px;">Practitioner ID</div>
                    <br />
                    <input type="text" name="practitionerID" class="form-control" id="loginId" placeholder="eg: alice">
                    <br>
                    <input type="password" name="practitionerPassword" class="form-control" id="passwdId">
                </div>
                <div class="col-xs-8 col-xs-offset-4 center-block "> 

                    <center><button type="submit" class="btn btn-lg" style="color:white; align:center;" onclick="LoginPractitioner(event)">Sign-UP</button></center> 
                </div>
                </form>
            </div>
            <!-- form end-->
	     <br />
	     <br />
	        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"> </div>
    </div>
</div>
    <script>
    $(window).on('load',function(){
      $("#headings").hide();
    });
</script>  
</script>
<script src="../js/main.js"></script>
