<div class="jumbotron" onload="homePageLoaded()">
   <h1>viewLogPage</h1>
</div>
      <script src="../js/main.js"></script>
      <script type="text/javascript">
        homePageLoaded();
      </script>
{{!-- <script src="../js/loginPage.js"></script> --}}
